# Session #1 Homework

## Question 1

What's the version of Numpy that you installed=

You can get the version information using the __version__ field:

In [1]:
import numpy as np
np.__version__

'1.21.5'

## Question 2

Load the data information in a pandas DataFrame

In [2]:
import pandas as pd
df = pd.read_csv('data.csv')

How many records are in the dataset?

Here you need to specify the number of rows

In [3]:
len(df)

11914

## Question 3

Who are the most frequent car manufacturers (top-3) according to the dataset?

In [4]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [5]:
df.Make.value_counts().head(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

## Question 4

What's the number of unique Audi car models in the dataset?

In [6]:
len(df[df['Make'] == 'Audi'].Model.value_counts())

34

## Question 5

How many columns in the dataset have missing values?

In [7]:
sum(df.isnull().sum() != 0)

5

## Question 6

1.- Find the median value of "Engine Cylinders" column in the dataset.

In [8]:
df['Engine Cylinders'].median()

6.0

2.- Next, calculate the most frequent value of the same "Engine Cylinders".

In [9]:
df['Engine Cylinders'].mode()[0]

4.0

3.- Use the fillna method to fill the missing values in the "Engine Cylinders" with the most frequent value from the previous step.

In [10]:
df['Engine Cylinders'].fillna(value=df['Engine Cylinders'].mode()[0])

0        6.0
1        6.0
2        6.0
3        6.0
4        6.0
        ...
11909    6.0
11910    6.0
11911    6.0
11912    6.0
11913    6.0
Name: Engine Cylinders, Length: 11914, dtype: float64

In [11]:
df['Engine Cylinders'].fillna(value=df['Engine Cylinders'].mode()[0]).isnull().sum()

0

4.- Now calculate the median value of "Engine Cylinders" once again.

In [12]:
df['Engine Cylinders'].fillna(value=df['Engine Cylinders'].mode()[0]).median()

6.0

# Question 7

1.- Select all the "lotus" cars from the dataset

In [13]:
df[df.Make == 'Lotus'].head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
3912,Lotus,Elise,2009,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,43995
3913,Lotus,Elise,2009,premium unleaded (required),218.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,54990
3914,Lotus,Elise,2009,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,47250
3915,Lotus,Elise,2010,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,47250
3916,Lotus,Elise,2010,premium unleaded (required),218.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,54990

2.- Select only columns "Engine HP", "Engine Cylinders"

In [14]:
df[df.Make == 'Lotus'][['Engine HP', 'Engine Cylinders']].head()

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3914      189.0               4.0
3915      189.0               4.0
3916      218.0               4.0

3.- Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).

In [15]:
df[df.Make == 'Lotus'][['Engine HP', 'Engine Cylinders']].drop_duplicates()

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

4.- Get the underlying Numpy array. Let's call it X

In [16]:
X = np.array(df[df.Make == 'Lotus'][['Engine HP', 'Engine Cylinders']].drop_duplicates())

5.- Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX

In [17]:
XTX = X.T.dot(X)

6.- Invert XTX

In [18]:
from numpy.linalg import inv
inv(XTX)

array([[ 5.53084235e-05, -2.94319825e-03],
       [-2.94319825e-03,  1.60588447e-01]])

7.- Create an array y with value [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

In [19]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

8.- Mutiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w

In [20]:
w = inv(XTX).dot(X.T).dot(y)

9.- What's the value of the first element of w?

In [21]:
w[0]

4.594944810094551